@{
    ViewData["Title"] = "Task Quadrants";
}

<div class="container">
    <div class="row">
        <div class="col-2 border">
            
        </div>
        <div class="col-5 border" style="text-align: center;">
            <h6>Urgent</h6>
        </div>
        <div class="col-5 border" style="text-align: center;">
            <h6>Not Urgent</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-2 border" style="writing-mode: vertical-lr; transform: rotate(180deg); text-align: center;">
            <h6>Important</h6>
        </div>
        <div class="col-5 border" style="text-align: center;">
            <h6>Quadrant 1</h6>
            <ul>
                <li>Task 1</li>
                <li>Task 2</li>
                <li>Task 3</li>
                <li>Task 4</li>
            </ul>
        </div>
        <div class="col-5 border" style="text-align: center;">
            <h6>Quadrant 2</h6>
            <ul>
                <li>Task 1</li>
                <li>Task 2</li>
                <li>Task 3</li>
                <li>Task 4</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-2 border" style="writing-mode: vertical-lr; transform: rotate(180deg); text-align:center;">
            <h6>Not Important</h6>
        </div>
        <div class="col-5 border" style="text-align: center;">
            <h6>Quadrant 3</h6>
            <ul>
                <li>Task 1</li>
                <li>Task 2</li>
                <li>Task 3</li>
                <li>Task 4</li>
            </ul>
        </div>
        <div class="col-5 border" style="text-align: center;">
            <h6>Quadrant 4</h6>
            <ul>
                <li>Task 1</li>
                <li>Task 2</li>
                <li>Task 3</li>
                <li>Task 4</li>
            </ul>
        </div>
    </div>
</div>