@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Add";
}
@model _8Mission.Models.Tasks

<div>
    <form method="Post">
        <div asp-validation-summary="All"></div>
        <label asp-for="Task_Name">Task:</label>
        <input asp-for="Task_Name" />
        <br />
        <label asp-for="Due_Date">Due Date:</label>
        <input type="date" asp-for="Due_Date" />
        <br />

        <label asp-for="Quadrant">Quadrant:</label>
        <select asp-for="Quadrant">
            <option disabled></option>
            @for (int i = 1; i <= 4; i++)
            {
                <option value="@i">@i</option>
            }
        </select>
        <br />
        <label asp-for="CategoryID">Category:</label>
        <select asp-for="CategoryID">
            <option disabled></option>
            @foreach (Category c in ViewBag.Category)
            {
                <option value="@c.CategoryID">@c.Category_Name</option>
            }

        </select>

        <br />

        <label asp-for="Completed">Completed:</label>
        <select>
            <option value="True">No</option>
            <option value="False">Yes</option>
        </select>
        <br />
        <button type="submit">Submit</button>
    </form>
</div>